<!DOCTYPE html>
<html>
  <head>
    <title>APP NAME</title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  <%= render 'layouts/ie' %>  
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "APP NAME", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Posts",  posts_path %></li>
            <li><%= link_to "Comments",  comments_path %></li>
          </ul>
        </nav>
      </div>
    </header>
    <%= render 'layouts/devise_login'%>

    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
     
  </body>
</html>